<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="eirineirinEntities" connectionString="metadata=res://*/ModelMarketPlace.csdl|res://*/ModelMarketPlace.ssdl|res://*/ModelMarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd-kip.fa.ru;initial catalog=eirineirin;persist security info=True;user id=sa;password=1qaz!QAZ;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Pr7_Adarchenko223Entities" connectionString="metadata=res://*/Pr7.csdl|res://*/Pr7.ssdl|res://*/Pr7.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd-kip.fa.ru;initial catalog=Pr7_Adarchenko223;persist security info=True;user id=sa;password=1qaz!QAZ;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>